.darkmode {

  --sb-thumb-color: #1e90ff;
  --sb-track-color: #ffffff;


}

body {
  --sb-track-color: #232e33;
  --sb-thumb-color: #1e90ff;
  --sb-size: 14px;
}

body::-webkit-scrollbar {
  width: var(--sb-size)
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 1px;
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 1px;
  border: 2px solid #232E33;
}

@supports not selector(::-webkit-scrollbar) {
  body {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}