<header>
            <div class="container">
                
                    <img src="assets/logo/logo_jobstart.png" alt="JobStar" class="logo">
                <nav>
                    <!-- Dropdown menu button -->
                    <button class="dropdown-menu" aria-label="Drop down menu" title="Drop down menu" aria-expanded="false">
                        <span class="bar"></span>
                        <span class="bar"></span>
                        <span class="bar"></span>
                    </button>
                    
                    <ul id="nav-links">
                        <li><a href="#">Accueil</a></li>
                        <li><a href="#">Offers</a></li>
                        <li><a href="#">Conseils</a></li>
                        <li><a href="#">A propos</a></li>
                        <li><a href="#">Contact</a></li>
                        <!-- Mobile-only action links -->
                        <li class="mobile-action"><a href="#">Se Connecter</a></li>
                        <li class="mobile-action"><a href="#">S'inscrire</a></li>
                    </ul>
                    <div class="header-btns">
                        <button type="button">Se Connecter</button>
                        <button type="button">S'inscrire</button>
                    </div>
                </nav>
            </div>
        </header>